# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Docker
docker-compose.override.yml
